<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小说</title>
    <link rel="stylesheet" type="text/css" href="../static/mystyle.css"/>
    <style>
        img{
            pointer-events: none;
        }
    </style>
</head>
<body>
    <div style="display: table;width: 100%">
        <div class="xiaoshuo" style="height: 300px;vertical-align:middle;text-align: center;background: #A5D6D9">
            <p style="font-size: 60px;color: black">2024年2月3日</p>
        </div>
        <div class="jieshuo">
            <audio controls src="../static/shengyin/doudouriji/1.mp3" style="width: 110px"></audio>
        </div>
    </div>
</body>

</html>