<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小说</title>
    <link rel="stylesheet" type="text/css" href="../static/mystyle.css"/>
</head>
<body>
    <div style="display: table;width: 100%;"><div class="xiaoshuo"><img src="../../static/图片/兜兜的小说/大战赛/第二部/1.png" style="width: 100%"/></div>
        <div class="jieshuo">
            <audio controls style="width: 110px">
                <source src="../../static/声音/大战赛/第二部/1.mp3">
                你的浏览器不支持此格式的音频文件
            </audio>
        </div>
    </div>
    <div style="display: table;width: 100%;"><div class="xiaoshuo"><img src="../../static/图片/兜兜的小说/大战赛/第二部/2.png" style="width: 100%"/></div>
        <div class="jieshuo">
            <audio controls style="width: 110px">
                <source src="../../static/声音/大战赛/第二部/2.mp3">
                你的浏览器不支持此格式的音频文件
            </audio>
        </div>
    </div>
    <div style="display: table;width: 100%;"><div class="xiaoshuo"><img src="../../static/图片/兜兜的小说/大战赛/第二部/3.png" style="width: 100%"/></div>
        <div class="jieshuo">
            <audio controls style="width: 110px">
                <source src="../../static/声音/大战赛/第二部/3.mp3">
                你的浏览器不支持此格式的音频文件
            </audio>
        </div>
    </div>
    <div style="display: table;width: 100%;"><div class="xiaoshuo"><img src="../../static/图片/兜兜的小说/大战赛/第二部/4.png" style="width: 100%"/></div>
        <div class="jieshuo">
            <audio controls style="width: 110px">
                <source src="../../static/声音/大战赛/第二部/4.mp3">
                你的浏览器不支持此格式的音频文件
            </audio>
        </div>
    </div>
</body>

</html>