body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#heng{
    width: 100%;
    height: 100%;
    background-image: url("./tupian/beijing/hengfu.png");
}
.juzhong{
    display: flex;
    justify-content: center;
    align-items: center;
}