<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>神圆方小说网站</title>
    <link rel="stylesheet" type="text/css" href="../static/shouye.css"/>
</head>
<body>
<div id="iframeContainer">
    <iframe id="heng" frameborder="0" src="caidan.html"></iframe>
    <iframe id="shu" frameborder="0" src="huanying.html" name="liulan"></iframe>
    <div style="display: flex;justify-content: center; align-items: center;height: 5%;width: 100%" id="di">
        <p style="font-weight: bold;font-size: 40px;color: red">&nbsp;&nbsp;&nbsp;兜兜祝你龙年大吉，心想事成！！！</p>
    </div>
</div>
</body>
</html>