<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="神圆方小说网站" />
    <meta property="og:description" content="欢迎大家关注神圆方小说网站(www.shenyuanfang.cn)，兜兜会经常更新好玩的小说，还可以抽奖哦！"/>
    <meta property="og:img" content="https://www.shenyuanfang.cn/yulan.jpg"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.shenyuanfang.cn/"/>
    <title>神圆方小说网站</title>
    <link rel="stylesheet" type="text/css" href="../static/shouye.css"/>
</head>
<body>
<div id="iframeContainer">
    <iframe id="heng" frameborder="0" src="caidan.html"></iframe>
    <iframe id="shu" frameborder="0" src="huanying.html" name="liulan"></iframe>
    <div style="display: flex;justify-content: center; align-items: center;height: 5%;width: 100%" id="di">
        <p style="font-weight: bold;font-size: 40px;color: red">&nbsp;&nbsp;&nbsp;兜兜祝你龙年大吉，心想事成！！！</p>
    </div>
</div>
</body>
</html>